.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  background-size: cover;
  min-height: 100vh;
}

.passwords-list {
  list-style: none;
}
